<%- include('partials/header') %>

<h1>Dashboard Statusmeldungen</h1>
<br>

<br>
<form>
  <center><img src="/img/top-secret.jpg" alt="top secret" width="200px"></center>
  <button>Logout</button>
</form>

<%- include('partials/footer') %>